<div class="container-sign login">
    <div class="inner-sign-up">
        <h1 class="title" style="padding-bottom: 25px">Login</h1>
        <%= form_with(url: log_in_path, scope: :session, local: true)  do |form| %>
        <div class="form-sign-up">
            <div class="form-floating mb-4">
                <%= form.text_field :email, class: "form-control", placeholder: "nguyenvana@gmail.com" %>
                <%= form.label :email %>
                <%# <label for="floatingInput">Email address</label> %>
            </div>
            <div class="form-floating mb-3">
                <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
                <%= form.label :password %>
            </div>
            <div class="mb-5 row" style="text-align: right">
                <label for="forgot">Forgot your password?</label>
            </div>
            <div class="mb-5 row">
                <div class="col-sm-12">
                    <%= form.submit "LOGIN", class: "btn btn-red-blue max-width btn-border"%>
                </div>
            </div>

            <div class="mb-1 row not-member">
                <label for="forgot">
                    Not a member?
                    <%= link_to "Sign up now!", sign_up_path %>
                </label>
            </div>
        </div>
        <% end %>
    </div>
</div>