
<nav class="navbar navbar-expand-lg navbar-dark bg-night">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%#= image_tag 'logo-01.png', style: "height: 40px; width: 40px" %>
      Polka<span>Dots</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav justify-content-center flex-grow-1">
          <li class="nav-item nav-li">
            <a class="nav-link active" aria-current="page" href="/">
              <i class="fa-solid fa-house"></i>
            </a>
          </li>
          <li class="nav-item dropdown nav-li shop">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-store"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-shop">
              <div class="row row-menu">
                <div class="col">
                  <div class="menu-title">ÁO THUN</div>
                  <li><a href="#">Áo thun cổ tròn</a></li>
                  <li><a href="#">Áo thun form rộng</a></li>
                  <li><a href="#">Áo Polo</a></li>
                  <li><a href="#">Áo sweeter</a></li>
                </div>
                <div class="col">
                  <div class="menu-title">ÁO KHOÁC</div>
                  <li><a href="#">Áo khoác dù</a></li>
                  <li><a href="#">Hoddie</a></li>
                  <li><a href="#">Bomber</a></li>
                </div>
                <div class="col">
                  <div class="menu-title">ÁO SƠ MI</div>
                  <li><a href="#">Áo sơ mi tay dài</a></li>
                  <li><a href="#">Áo sơ mi tay ngắn</a></li>
                </div>
                <div class="col">
                  <div class="menu-title">QUẦN</div>
                  <li><a href="#">Quần jean</a></li>
                  <li><a href="#">Quần kaki</a></li>
                  <li><a href="#">Quần short</a></li>
                </div>
                <div class="col">
                  <div class="menu-title">GIÀY</div>
                  <li><a href="#">Nike</a></li>
                  <li><a href="#">Adidas</a></li>
                  <li><a href="#">Converse</a></li>
                </div>
              </div>
            </ul>
          </li>
          <li class="nav-item nav-li">
            <a class="nav-link" href="/static_pages/about">
              <i class="fa-brands fa-blogger"></i>
            </a>
          </li>
          <li class="nav-item nav-li">
            <a class="nav-link" href="/static_pages/contact">
              <i class="fa-solid fa-envelope"></i>
            </a>
          </li>
        </ul>
        <% if logged_in? %>
          <ul class="navbar-nav justify-content-end align-item-center">
            <li class="nav-item pe-2 nav-user">
              <a class="nav-link active" aria-current="page" href="/">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            </li>
            <li class="nav-item dropdown">
              <img src="https://scontent.fsgn8-3.fna.fbcdn.net/v/t39.30808-6/273727832_682016636157763_1569302612958504638_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=W-tKUD1sDdYAX91FP-S&_nc_ht=scontent.fsgn8-3.fna&oh=00_AT91xwfcEasuNArr6uWA87fsVX7KBnPHwMlZoGpF_MG7cg&oe=62FF6551" 
              style="height: 40px; width: 40px; border-radius: 50%;" 
              class="nav-link dropdown-toggle nav-avatar" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <ul class="dropdown-menu dropdown-menu-dark drop-menu-right">
                <li class="">
                  <%= link_to '<i class="fa-solid fa-address-card dropdown-icon"></i> Profile'.html_safe, user_path(current_user), class: "dropdown-item dropdown-padding" %>
                </li>
                <% if admin_user? %>
                  <li>
                    <%= link_to '<i class="fa-solid fa-users dropdown-icon"></i> All users'.html_safe, users_path , class: "dropdown-item dropdown-padding" %>
                  </li>
                <% end %>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item dropdown-padding" href="/static_pages/setting">
                    <i class="fa-solid fa-gear dropdown-icon"></i>
                    Cài đặt
                  </a>
                  <%#= link_to '<i class="fa-solid fa-gear"></i> Setting'.html_safe, edit_user_path(current_user), class: "dropdown-item dropdown-padding" %>
                </li>
                <li>
                  <a class="dropdown-item dropdown-padding" href="/static_pages/setting">
                    <i class="fa-solid fa-moon dropdown-icon"></i>
                    Chế độ
                  </a>
                </li>
                <li>
                  <%= button_to '<i class="fa-solid fa-right-from-bracket dropdown-icon"></i> Đăng xuất'.html_safe, log_out_path, method: :delete, class: "dropdown-item dropdown-padding" %>
                </li>
              </ul>
            </li>
          </ul>
        <% else %>
          <ul class="navbar-nav justify-content-end pe-3 nav-button">
            <li class="nav-item dropdown nav-user">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-clipboard-user"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark drop-menu-right">
                <li>
                  <%# <a class="dropdown-item" href="#">Action</a> %>
                  <%#= link_to "Log In", log_in_path, class: "btn btn-outline-info" %>
                  <%= link_to "Login", log_in_path, class: "dropdown-item" %>
                </li>
                <li>
                  <%#= link_to "Sign Up", sign_up_path, class: "btn btn-outline-success" %>
                  <%= link_to "Sign Up", sign_up_path, class: "dropdown-item" %>
                  <%# <a class="dropdown-item" href="#">Another action</a> %>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        <% end %>
    </div>
  </div>
</nav>