<div class="container-sign sign-up">
    <div class="inner-sign-up">
        <h1 class="title">Sign Up!</h1>
        <%#= form_with model: @person, url: sign_up_path do |form| %>
        <%= form_with model: @user, url: sign_up_path do |form| %>
        <% if @user.errors.any? %>
            <div class="alert alert-danger">
                <% @user.errors.full_messages.each do |message| %>
                    <div><%= message %></div>
                <% end %>
            </div>
        <% end %>
        <div class="form-sign-up">
            <div class="mb-1 row">
                <%# <label for="user_name">Name</label> %>
                 <%= form.label :name %>
            </div>
            <div class="mb-1 row">
                <div class="col-sm-12">
                    <%= form.text_field :name, class: "form-control", placeholder: "Nguyễn Văn A" %>
                </div>
            </div>
            <div class="mb-1 row">
                <%= form.label :email %>
                <%# <label for="staticEmail" class="col-sm-3 col-form-label">Email</label> %>
            </div>
            <div class="mb-1 row">
                <div class="col-sm-12">
                    <%= form.text_field :email, class: "form-control", placeholder: "rails@gmail.com" %>
                </div>
            </div>
            <div class="mb-1 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            </div>
            <div class="mb-1 row">
                <div class="col-sm-12">
                    <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
                </div>
            </div>
            <div class="mb-1 row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Password Confirmation</label>
            </div>
            <div class="mb-4 row">
                <div class="col-sm-12">
                    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Password" %>
                </div>
            </div>
            <div class="mb-1 row">
                <div class="col-sm-12">
                    <%= form.submit "Create my account!" , class: "btn btn-secondary max-width btn-border" %>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>